/**
 * page/about.css
 * 关于
 */

#banner{
    height: 250px;
    margin-bottom: 30px;
    background: url(../../images/about-banner.jpg) no-repeat center 0;
}

.crumb{
    height: 54px;
    line-height: 54px;
    padding-left: 32px;
    font-size: 16px;
}

.about-nav{
    float: left;
    width: 200px;
}
.about-nav li{
    height: 50px;
    line-height: 50px;
    margin-bottom: 1px;
    font-size: 20px;
}
.about-nav a{
    display: block;
    height: 50px;
    padding-left: 16px;
    background: #f0f0f0;
    color: #8a8a8a;
    transition: all 0.3s;
}
.about-nav a:hover,
.about-nav a.current{
    padding-left: 52px;
    background: #329ed9;
    color: #fff !important;
}

.about-content{
    float: right;
    width: 730px;
    padding: 20px 15px 80px;
    border: 1px solid #e3e3e3;
    color: #656565;
    font-size: 16px;
    line-height: 28px;
    overflow: hidden;
}
.company-img{
    margin-bottom: 36px;
    width: 730px;
}
.about-content p{
    padding: 0 82px 0 28px;
    text-indent: 2em;
    letter-spacing: 1px;
}
.about-contact-us dt{
    width: 730px;
    margin-bottom: 30px;
    overflow: hidden;
}
.about-contact-us dd{
    padding-left: 40px;
    line-height: 36px;
}
.about-contact-us,
.about-contact-us a{
    color: #646464;
}
.about-itts img{
    padding: 18px 0 20px 28px;
}
.about-itts .clr{
    padding: 0 82px 0 28px;
}
.about-itts .left{
    width: 400px;
}
.about-itts .right{
    width: 180px;
}
.about-itts dt{
    margin-bottom: 10px;
    font-size: 22px;
    color: #329ed9;
}
.about-itts dd{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    overflow: hidden;
}
