doctype html
html(lang="zh_CN")
    head
        include global.jade
        title
            主页
    body
        #page
            include topbar.jade
            include header.jade
            #banner
            #content
            include footer.jade
        script(src="js/page/index.js")
