/**
 * module/footer.css
 * 页脚
 */

#footer{
    padding-bottom: 10px;
    background: #fff;
    font-size: 14px;
    line-height: 32px;
}
#footer ul{
    padding: 30px 0 0 349px;
}
#footer ul li{
    float: left;
    padding: 0 19px;
}
#footer p{
    text-align: center;
    color: #787878;
}
