/**
 * module/topbar.css
 * 顶部工具条
 */

#topbar{
    height: 30px;
    line-height: 30px;
    background: #f6f6f6;
}
#topbar .layout{
    position: relative;
    z-index: 10;
}
#topbar .top-list{
    float: right;
}
#topbar .item{
    float: left;
    margin-left: 22px;
    _display: inline;
}
#topbar li a,
#topbar .user span{
    float: left;
    height: 30px;
}
#topbar a.itts{
    color: #9bacdc;
}
#topbar .map{
    padding-left: 36px;
    background: url(../../images/topbar-map.png) no-repeat;
}
#topbar .map .map-link{
    padding-right: 15px;
    background: url(../../images/topbar-arrow.png) no-repeat top right;
}
#topbar .map:hover .map-link,
#topbar .map-hover .map-link{
    background-image: url(../../images/topbar-arrow-hover.png)
}
#topbar .sitemap{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 29px;
    width: 645px;
    height: 180px;
    border-top: 1px solid #b4b4b4;
    background: #fff;
    box-shadow: 0 5px 8px #333;
    display: none;
}
#topbar .map:hover .sitemap,
#topbar .map-hover .sitemap{
    display: block;
}
#topbar .sitemap .arrow{
    position: absolute;
    z-index: 2;
    right: 38px;
    top: -7px;
    width: 11px;
    height: 7px;
    background: url(../../images/topbar-arrow-up.png);
}
#topbar .sitemap ul{
    height: 140px;
    padding: 20px 0;
}
#topbar .sitemap li{
    float: left;
    width: 128px;
    height: 140px;
    overflow: hidden;
    line-height: 20px;
    border-right: 1px solid #d3d3d3;
}
#topbar .sitemap li:last-child{
    border-right: 0 none;
}
#topbar .sitemap a{
    float: none;
    height: 20px;
}
#topbar .sitemap dt{
    padding-left: 28px;
    margin-bottom: 8px;
    font-size: 14px;
    background: url(../../images/topbar-title-back.png) no-repeat 10px 10px;
}
#topbar .sitemap li:hover dt{
    background: url(../../images/topbar-title-hover-back.png) no-repeat 8px 8px;
}
#topbar .sitemap dd{
    width: 95px;
    height: 20px;
    margin-left: 8px;
    margin-bottom: 2px;
}
#topbar .sitemap dd a{
    display: block;
    padding-left: 20px;
    line-height: 20px;
}
#topbar .sitemap dd a:hover{
    background: #c1c1c1;
    color: #fff !important;
}
