/**
 * global.css
 * 通用样式
 */

#header,
#content,
#footer,
.layout,
.clr{
    *zoom: 1;
}
#header:after,
#content:after,
#footer:after,
.layout:after,
.clr:after{
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    content: "\0020";
}
.screen{
    width: 980px;
    margin: 0 auto;
}
a:link,
a:visited{
    color: #3a3a3a;
}
a:hover,
a:active{
    color: #ff7300;
    text-decoration: underline;
}
