doctype html
html(lang="zh_CN")
    head
        meta(charset="UTF-8")
        title
            主页
        link(href="../css/global/reset.css")
        link(href="../css/global/global.css")
        script(src="../js/lib/sea.js")
    body
        div