/**
 * topbar.css
 * 顶部工具条
 */

#topbar{
    height: 30px;
    line-height: 30px;
    background: #f6f6f6;
}
#topbar .layout{
    position: relative;
}
#topbar .top-list{
    float: right;
}
#topbar .item{
    float: left;
    margin-left: 22px;
    _display: inline;
}
#topbar li a{
    float: left;
    height: 30px;
}
#topbar a.itts{
    color: #9bacdc;
}
/*#topbar a.itts:hover{
    color: #0096df;
}*/
#topbar .map{
    padding-left: 36px;
    background: url(../../images/topbar-map.png) no-repeat;
}
#topbar .map a{
    padding-right: 15px;
    background: url(../../images/topbar-arrow.png) top right no-repeat;
}
