#header
    .screen
        .layout
            a.logo(href="#")
                img(src="images/logo.png", alt="智溯科技")
            ul.nav
                li.current
                    a(href="#") 首页
                li
                    a(href="#") 解决方案
                li
                    a(href="#") 产品中心
                li
                    a(href="#") 软件中心
                li
                    a(href="#") 技术支持
                li
                    a(href="#") 关于我们
            .nav-border
