#topbar
    .screen
        .layout
            ul
                li.user
                    a(href="#") 登陆
                    span &nbsp;-&nbsp;
                    a(href="#") 注册
                li.map
                    a(href="#") 网站地图
