doctype html
html(lang="zh_CN")
    head
        include include/global-head
        link(rel="stylesheet", href="css/module/detail.css")
        link(rel="stylesheet", href="css/page/about.css")
        title 关于我们-公司简介
    body
        #page
            include include/topbar
            - var currentNav = "关于我们"
            include include/header
            #banner.banner-common
            #content
                .layout
                    .screen
                        .crumb
                            a(href="index.html") 首页
                            | &nbsp;&gt;&nbsp;
                            a(href="#") 关于我们
                            | &nbsp;&gt;&nbsp;
                            a(href="about-company.html") 公司简介
                        .detail-nav
                            ul
                                li
                                    a.current(href="about-company.html") 公司简介
                                li
                                    a(href="about-itts.html") ITTS平台
                                li
                                    a(href="#") 企业专栏
                                li
                                    a(href="about-contact-us.html") 联系我们
                        .detail-content
                            .about-company
                                img.company-img(src="images/about-company.jpg", alt="")
                                p 智溯信息科技（上海）有限公司，以物联网技术为导向，专业从事物联网防伪溯源平台建设，公司是国内一流的专注于防伪、追溯追踪等领域的物联网技术和产品服务提供商。
                                p 公司围绕行业防伪、追溯追踪与防窜货等，面向政府和企业提供物联网防伪溯源解决方案、应用产品和平台运营服务。
                                p 公司平台为智溯ITTS系统，在产品全生命周期管理、产品防伪溯源等领域累积有丰富的行业经验和成功案例。
                                p 智溯ITTS系统利用先进的物联网技术，通过字符码、一维条码、二维条码、RFID标签等方式对单个产品赋予单品ID——智溯码，实现每单品一码，对产品的生产、仓储、分销、物流运输、市场巡检及消费等环节进行数据采集跟踪，实现产品生产环节、销售环节、流通环节、售后服务环节的全生命周期管理。
                                p 公司将以热忱的工作态度、精湛的技术、丰富的行业经验、严格规范的管理，为客户提供100%满意的服务！
            include include/footer
        include include/global-js
