doctype html
html(lang="zh_CN")
    head
        include include/global-head
        link(rel="stylesheet", href="css/page/index.css")
        title 主页
    body
        #page
            include include/topbar
            include include/header
            #banner
                .screen
                    .layout
            #content
                .screen
                    .layout
            include include/footer
        include include/global-js
        script(src="js/page/index.js")
