#footer
    .screen
        .layout
            ul.clr
                li
                    a(href="about-company.html") 关于智溯
                li
                    a(href="#") 诚征英才
                li
                    a(href="about-contact-us.html") 联系我们
            p Copyright&copy;2013-2014 Intelligent Trace All Rights Reserved 智溯科技公司 版权所有
            p 备案/许可证编号：沪ICP备1400684
