#topbar
    .screen
        .layout
            ul.top-list
                li.item.user
                    span 登录&nbsp;&gt;&nbsp;
                    a(href="#", class="itts") ITTS防伪平台
                li.item.map
                    a.map-link(href="#") 网站导航
                    .sitemap
                        .arrow
                        ul.clr
                            li
                                dl
                                    dt
                                        a(href="#") 解决方案
                                    dd
                                        a(href="#") 消费品
                            li
                                dl
                                    dt
                                        a(href="#") 产品中心
                                    dd
                                        a(href="#") 防伪APP
                                    dd
                                        a(href="#") 电子标签
                                    dd
                                        a(href="#") 手持机
                                    dd
                                        a(href="#") 读写器
                                    dd
                                        a(href="#") 更多...
                            li
                                dl
                                    dt
                                        a(href="#") 客户案例
                                    dd
                                        a(href="#") 消费品
                            li
                                dl
                                    dt
                                        a(href="#") 技术支持
                                    dd
                                        a(href="download-soft.html") 软件下载
                                    dd
                                        a(href="download-doc.html") 文档下载
                            li
                                dl
                                    dt
                                        a(href="#") 关于我们
                                    dd
                                        a(href="about-company.html") 公司简介
                                    dd
                                        a(href="about-itts.html") ITTS平台
                                    dd
                                        a(href="#") 企业专栏
                                    dd
                                        a(href="about-contact-us.html") 联系我们

